<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	 <filter>
          <filter-name>UrlRewriteFilter</filter-name>
          <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
          <init-param>
              <param-name>logLevel</param-name>
              <param-value>WARN</param-value>
          </init-param>
      </filter>
      <filter-mapping>
          <filter-name>UrlRewriteFilter</filter-name>
          <url-pattern>/*</url-pattern>
      </filter-mapping>
      
      
    <servlet>
  		<servlet-name>gameImage</servlet-name> 
		<servlet-class>inet.db.game.GameGifServlet</servlet-class> 
	</servlet>
	<servlet-mapping>
		<servlet-name>gameImage</servlet-name> 
	  	<url-pattern>/iGameImage.gif</url-pattern> 
	</servlet-mapping>
	<servlet>
		<servlet-name>downloadFreeGame</servlet-name> 
	  	<servlet-class>inet.db.game.FreeGameOnWap3GServlet</servlet-class> 
	</servlet>
 	<servlet-mapping>
		<servlet-name>downloadFreeGame</servlet-name> 
	 	<url-pattern>/freeGame/*</url-pattern> 	
	</servlet-mapping>
	<servlet>
  		<servlet-name>gameFMCImage</servlet-name> 
		<servlet-class>inet.db.fmcgame.GameServlet</servlet-class> 
	</servlet>
	<servlet-mapping>
		<servlet-name>gameFMCImage</servlet-name> 
	  	<url-pattern>/fGameImage.gif</url-pattern> 
	</servlet-mapping>
     <servlet>
	    <servlet-name>FMCGameServlet</servlet-name>
	    <servlet-class>inet.db.fmcgame.GameServlet</servlet-class>
  	</servlet>
    <servlet-mapping>
        <servlet-name>FMCGameServlet</servlet-name>
        <url-pattern>/game-image/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gamegifservlet</servlet-name>
        <servlet-class>inet.db.game.GameGifServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>gamegifservlet</servlet-name>
    	<url-pattern>/gameservlet/*</url-pattern>
    </servlet-mapping>
    
  	<servlet>
	    <servlet-name>GameImageServlet</servlet-name>
	    <servlet-class>inet.db.javagame.GameImageServlet</servlet-class>
  	</servlet>

  	<servlet-mapping>
	    <servlet-name>GameImageServlet</servlet-name>
	    <url-pattern>/javagame-image/*</url-pattern>
  	</servlet-mapping>
  	
</web-app>
